<div fxLayout="row" fxLayoutAlign="center top" style="height: 100vh" fxShow.lt-sm fxHide.gt-xs>

    <mat-tab-group fxShow.lt-sm fxHide.gt-sm  fxFlex="0 0 100%">
        <mat-tab label="Menu Sections">
            <div class="menu-editor-section">
                 <mat-list>
                    <mat-divider></mat-divider>
                    <mat-button-toggle-group name="selectedSection" aria-label="Font Style" [multiple]="false" [vertical]="true"  (change)="onSectionChangeV2($event)">

                        <mat-button-toggle [value]="section" *ngFor="let section of restaurant?.menuSections" [checked]="selectedSection === section">
                          <span  fxFlex="0 0 80%">{{ section }}</span>

                          <button fxFlex="0 0 20%" mat-icon-button color="accent" style="float: right" (click)="editSectionDialog(section)">
                            <mat-icon aria-label="Edit Section">edit</mat-icon>
                          </button>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                    <mat-divider></mat-divider>
                 </mat-list>
                 <!-- Add button section-->
                 <mat-list>
                   <mat-list-item fxFlex="grow"  (click)="addAMenuSectionDialog()">
                       <mat-icon mat-list-icon  color="accent">add</mat-icon>
                       <h4 mat-line>Add Section</h4>
                   </mat-list-item>
                 </mat-list>
        </div>
        </mat-tab>
        <mat-tab label="{{ selectedSection}} Items">
            <div class="menu-editor-section" fxShow.lt-sm fxHide.gt-xs  fxFlex="0 0 100%">
              <mat-list>
                  <mat-button-toggle-group name="selectedItem" aria-label="Font Style" [multiple]="false" [vertical]="true"  >

                    <ng-container *ngFor="let item of displayedItems">
                        <mat-button-toggle [value]="item"  [checked]="item === selectedItem" (click)="onChangeItemMobile(item)">
                            <span  fxFlex="0 0 100%">{{ item.name }}</span>

                          </mat-button-toggle>
                    </ng-container>

                  </mat-button-toggle-group>
              </mat-list>

                 <mat-list>
                     <mat-list-item fxFlex="grow"  (click)="createItemDialog()">
                         <mat-icon mat-list-icon  color="accent">add</mat-icon>
                         <h4 mat-line>Add Item</h4>
                     </mat-list-item>
                   </mat-list>
          </div>

        </mat-tab>
      </mat-tab-group>
</div>


<!-- Non Mobile view -->
<div fxHide fxShow.gt-xs fxLayout="row" fxLayout.xs="column"  fxLayoutGap.xs="40px" fxLayoutAlign="center top"  class="row-example" style=" min-height: 100vh;">

   <div class="menu-editor-section" fxFlex="0 0 25%">
            <h3 matSubheader>Menu Sections</h3>
            <mat-list>

                <mat-button-toggle-group name="selectedSection" aria-label="Font Style" [multiple]="false" [vertical]="true"  (change)="onSectionChangeV2($event)">

                    <mat-button-toggle [value]="section" *ngFor="let section of restaurant?.menuSections"  [checked]="selectedSection === section">
                      <span  fxFlex="0 0 80%">{{ section }}</span>

                      <button fxFlex="0 0 20%" mat-icon-button color="accent" style="float: right" (click)="editSectionDialog(section)">
                        <mat-icon aria-label="Edit Section">edit</mat-icon>
                      </button>
                    </mat-button-toggle>
                </mat-button-toggle-group>
                <mat-divider></mat-divider>
            </mat-list>

              <mat-list>
                <mat-list-item fxFlex="grow"  (click)="addAMenuSectionDialog()">
                    <mat-icon mat-list-icon  color="accent">add</mat-icon>
                    <h4 mat-line>Add Section</h4>
                </mat-list-item>
              </mat-list>
     </div>


     <div class="menu-editor-section" fxFlex="0 0 25%">
          <h3 matSubheader>{{ selectedSection }} <span *ngIf="selectedSection">&nbsp;Items </span></h3>
          <mat-list>
              <mat-button-toggle-group name="selectedItem" aria-label="Font Style" [multiple]="false" [vertical]="true"  (change)="onChangeItem($event)">

                  <mat-button-toggle [value]="item" *ngFor="let item of displayedItems"  [checked]="item === selectedItem">
                    <span  fxFlex="0 0 100%">{{ item.name }}</span>

                  </mat-button-toggle>
              </mat-button-toggle-group>
              <mat-divider></mat-divider>
          </mat-list>

            <mat-list>
                <mat-list-item fxFlex="grow"  (click)="onClickCreateNewItem()">
                    <mat-icon mat-list-icon  color="accent">add</mat-icon>
                    <h4 mat-line>Add Item</h4>
                </mat-list-item>
              </mat-list>
     </div>


     <div class="menu-editor-section" fxFlex="0 0 50%">

         <mat-card  fxLayout="row wrap">
         <form class="example-form" [formGroup]="itemForm">
           <div class="input-row">
              <mat-form-field fxFlex>
                  <input matInput placeholder="Item Name" formControlName="name">
                </mat-form-field>
           </div>

           <div class="input-row">
              <mat-form-field fxFlex>
                  <textarea matInput placeholder="Leave a description" formControlName="description"></textarea>
              </mat-form-field>
           </div>

           <div class="input-row">
              <mat-form-field class="example-full-width" fxFlex>
                  <span matPrefix>$ &nbsp;</span>
                  <input type="text" matInput placeholder="Price"  formControlName="price">
                </mat-form-field>
           </div>

           <div fxLayout="row" fxLayoutGap="20px">
              <button mat-icon-button  fxFlex *ngIf="updating">
                  <mat-icon aria-label="Delete" (click)="deleteItem()">delete</mat-icon> Delete
                </button>
               <button mat-raised-button color="primary" (click)="saveItem()" *ngIf="updating">Save Item</button>
               <button mat-raised-button color="primary" (click)="createItem()" *ngIf="!updating">Create Item</button>
            </div>

         </form>
       </mat-card>
     </div>


 </div>




