@import "../../variables.scss";

.mat-button-toggle-group {
  width: 100%;
}
.mat-button-toggle-group, .mat-button-toggle-standalone {
  box-shadow: none;
}
.mat-button-toggle-group {
  box-shadow: none;
}

.mat-button-toggle-checked .mat-card{
  border: 2px solid $accent;
}


.mat-button-toggle, .mat-button-toggle-label-content {
  height: 50px;
  color: rgba(0,0,0,.87);
}
