<div>
<h1 mat-dialog-title>Add A Menu Section</h1>
<div mat-dialog-content  [formGroup]="sectionForm">

  <mat-form-field>
    <input matInput placeholder="Section Name"
    formControlName="description">
    <mat-hint align="end">Examples: 'Lunch', 'Dinner' </mat-hint>
  </mat-form-field>
  
  <mat-form-field>
        <input matInput>
        <mat-hint align="end">Examples: 'Lunch', 'Dinner' </mat-hint>
      </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>
</div>