<div>
<h1 mat-dialog-title>{{ editing ? 'Update Section' : 'Add Section'}}</h1>
<div mat-dialog-content  [formGroup]="categoryForm">

    <mat-form-field>
      <input matInput placeholder="Section Name"
      formControlName="name">
      <mat-hint align="end">Examples: 'Lunch', 'Dinner' </mat-hint>
    </mat-form-field>

    <!-- <mat-form-field>
      <input matInput placeholder="Restaurant Id"
      formControlName="restaurantId" hidden aria-hidden="true">
    </mat-form-field> -->

</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]>Cancel</button>
  <button mat-button [mat-dialog-close]="categoryForm.value" cdkFocusInitial>Save</button>
</div>
</div>
