
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.flex-spacer {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .make-scrollable {
      overflow-y: scroll;
  }

  ::ng-deep mat-pseudo-checkbox.mat-pseudo-checkbox{ display: none; }

